body {background-color: powderblue;}
h1   {color: brown;}
p    {color: red;}
button{color:black;background-color: white}
#c1{color:black;background-color: white}
#c2{color:black;background-color: white}
#cr1{color:black;background-color: white}
#cr2{color:black;background-color: white}
#g1{color:black;background-color: white}
#g2{color:black;background-color: white}
#totalCredits{color:grey;}
